<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "ja" }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    {{ partial "meta.html" . }}
    
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
    
    <!-- CSS -->
    <link rel="stylesheet" href="{{ "css/main.css" | relURL }}">
    
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{{ "images/favicon.ico" | relURL }}">
    
    {{ block "head" . }}{{ end }}
</head>
<body class="{{ if .IsHome }}home{{ else }}{{ .Type }}{{ end }}">
    {{ partial "header.html" . }}
    
    <main id="main" role="main">
        {{ block "main" . }}{{ end }}
    </main>
    
    {{ partial "footer.html" . }}
    
    <!-- JavaScript -->
    <script src="{{ "js/main.js" | relURL }}"></script>
    {{ block "scripts" . }}{{ end }}
</body>
</html>